/* Menu Css */

.menu-container h1 {
    font-size: 20vmin;
    background-color: #ffde3e;
    border: 7px solid rgb(0, 0, 0);
    outline: 3px solid white;
    padding: 50px;
    border-radius: 25%;
}

.menu-container h1 titletext {
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    text-decoration: inherit
}

.menu-container button {
    font-size: 3vmin;
    border: 0px solid;
    background-color: #ffd500;
    padding: 20px;
    width: 40vmin;
    height: 20vmin;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 7px solid rgb(0, 0, 0);
    outline: 3px solid white;
    border-radius: 30px;
}

.menu-container {
    text-align: center;
    border: 0px solid;
    width: 98vmax;
    height: 96vmin;
    position: absolute;
    z-index: 1;
}   