.menu-container h1 {
    font-size: 20vmin;
}

.menu-container button {
    font-size: 3vmin;
    border: 5px solid;
    width: 300px;
    background-color: #ffde3e;
    padding: 20px;
    border-radius: 50px;
}

.menu-container {
    text-align: center;
    border: 5px solid;
    background-color: beige;
    border-radius: 50px;
}